<h1>You are invited to join workspace {{workspaceName}}</h1>
<p>Hello {{userName}},</p>
<p>Please click the button below to accept the invitation:</p>
<a
	href='{{inviteLink}}'
	style='padding:10px 20px; background:#007bff; color:#fff; text-decoration:none;'
>Accept Invitation</a>
<p>If you did not expect this, just ignore this email.</p>